.navbar{
    background-color: #009999;
    display: flex;
    height: 50px;
}
body{
    background-image: url(signup_background.jpg);
    background-size: 1500px 700px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin:0px 0px 0px 0px;
    }
    .barefoot{
        color:#ff6666;
        position: absolute;
        top: 25px;
        margin-left: 15px;
    }
    .sign-in{
        position: absolute;
        right: 3%;
        color: #ffffff;
        top: 25px;
    }
    .nomad{
        color: #ffffff;
        position: absolute;
        top: 25px;
        left:80px;
    }
    .title{
        color: #ffffff;
        position: absolute;
        top:10px;
        right: 50%;
    }
    .join{
        border: 0,5px solid black;
        background-color: #009999;
        opacity: 1;
        height: 500px;
        position: absolute;
        right: 20%;
        left: 38%;
        top:150px
    }
    .first{
        width:190px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        height: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        border:1px solid white;
        outline:none;
        left: 5%;
        opacity: 1;
        top:7%;
    }
    .last{
        width:220px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        height: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top:7%;
        outline: none;
        border: 1px solid white;
        left:45%
    }
    .email{
        width: 430px;
        max-width: 90%;
        display: block;
        height: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top: 15%;
        outline: none;
        border: 1px solid white;
        left: 5%;
    }
    .address{
        width: 430px;
        max-width: 90%;
        height: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top: 23%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .gender{
        width: 430px;
        max-width: 90%;
        display: block;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 31%;
        left: 5%;
        outline: none;
        border: 1px solid white;
    }
    .user_name{
        width: 430px;
        max-width: 90%;
        display: block;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 39%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .password{
        width:430px;
        height: 30px;
        max-width: 90%;
        display: block;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top:47%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .create{
        width: 430px;
        height: 30px;
        max-width: 90%;
        display: block;
        border-radius: 20px;
        background-color: #ff6666;
        color: #ffffff;
        position: absolute;
        top: 55%;
        left:5%;
        outline: none;
        border: 1px solid #ff6666;
    }
    .facebook{
        width:190px;
        height: 30px;
        max-width: 50%;
        display: block;
        border-radius: 20px;
        background-color: #336699;
        position: absolute;
        left: 4%;
        top:63%;
        color: #ffffff;
        outline: none;
        border: 1px solid #33669e;

    } 

.google{
    width:220px;
    height: 30px;
    max-width: 50%;
    display: block;
    border-radius: 20px;
    background-color: #ffffff;
    position: absolute;
    left: 45%;
    top:63%;
    color: #000000;
    outline: none;
    border: 1px solid white;
} 
.gtx{
    position: absolute;
    top:13%;
    left:20%;
    font-size: 15px;
}
.google_icon{
    position: absolute;
    top:25%;
    left:6%
}
.already{
    color: #ffffff;
    position: absolute;
    top:72%;
    left:16%;
    font-size: 12px;
}
.log{
color: #ff6666;
position: absolute;
top: 72%;
left:43%;
font-size: 12px;
}
.fbtx{
    position: absolute;
    top:13%;
    left:18%;
    font-size: 15px;
}
.facebook_icon{
    position: absolute;
    top:10%;
    left:6%
}
@media only screen and (max-width: 1000px){
   .join{
        border: 0,5px solid black;
        background-color: #009999;
        opacity: 1;
        height: 1000px;
        position: absolute;
        right: 60%;
        left: 10%;
        top:150px
        
    }
}
@media only screen and (max-width:1000px){
    .first{
        font-size: 30px;
        width:40%;
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        border:1px solid white;
        outline:none;
        left: 5%;
        opacity: 1;
        top:7%;
    
    }
    .last{
        width:50%;
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 30px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top:7%;
        outline: none;
        border: 1px solid white;
        left:45%
    }
    .email{
        width: 90%;
        max-width: 90%;
        display: block;
        height: 40px;
        font-size: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top: 15%;
        outline: none;
        border: 1px solid white;
        left: 5%;
    }
    .address{
        width: 430px;
        max-width: 90%;
        height: 40px;
        font-size: 30px;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        top: 23%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .gender{
        width: 430px;
        max-width: 90%;
        display: block;
        height: 40px;
        font-size: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 31%;
        left: 5%;
        outline: none;
        border: 1px solid white;
    }
    .user_name{
        width: 430px;
        max-width: 90%;
        display: block;
        height: 40px;
        font-size: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 39%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .password{
        width:430px;
        height: 40px;
        font-size: 30px;
        max-width: 90%;
        display: block;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        top:47%;
        left:5%;
        outline: none;
        border: 1px solid white;
    }
    .create{
        width: 430px;
        height: 40px;
        font-size: 30px;
        max-width: 90%;
        display: block;
        border-radius: 20px;
        background-color: #ff6666;
        color: #ffffff;
        position: absolute;
        top: 55%;
        left:5%;
        outline: none;
        border: 1px solid #ff6666;
    }
    .facebook{
        width:40%;
        height: 40px;
        font-size: 30px;
        max-width: 50%;
        display: block;
        border-radius: 20px;
        background-color: #336699;
        position: absolute;
        left: 4%;
        top:63%;
        color: #ffffff;
        outline: none;
        border: 1px solid #33669e;

    }
    .google{
        width:50%;
        height: 40px;
        font-size: 30px;
        max-width: 50%;
        display: block;
        border-radius: 20px;
        background-color: #ffffff;
        position: absolute;
        left: 45%;
        top:63%;
        color: #000000;
        outline: none;
        border: 1px solid white;
    }
    .already{
        color: #ffffff;
        position: absolute;
        top:72%;
        left:1%;
        font-size: 30px;
    }
    .log{
    color: #ff6666;
    position: absolute;
    top: 72%;
    left:50%;
    font-size: 30px;
    }  
}